 body{
    font-family:sans-serif;
 }

.container-fluid{
    background-color: rgb(136, 167, 224);
    border-radius: 10px;
    height: 60px;
    input{
        background-color: rgb(205, 220, 247);
        border-color: rgb(33, 98, 219);
    }
}
#mode{
    background-color: rgb(23, 86, 202);
    border-style: solid;
    border-color: rgb(73, 124, 218);
    border-radius: 10px;
    width: 100px;
    height: 30px;
    text-align: center;
    color: white;
    margin-right: 40px;
}
#cityNm{
    margin-top: 1px;
    font-size: 20px;
}
/*Here is for the main section==*/
main{
    display: inline-flex;
    gap: 10px;
}
/*==This is for th first box*/
#leftS{
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-left: 5px;

    #bigBox{
    background-color: rgb(168, 191, 235);
    width: 1200px;
    height: 380px;
    border-radius: 10px;
    display: inline-flex;


    #BigImage{
        width: 30%;
    }
    #BigImage img{
        width: 100%;
        
    }
    #conditionT{
        font-size: 25px;
       #descr{
        margin-top: 90px;
       }
       #temp{
        font-size: 65px;
       }
    }
    #dateTime{
       font-size: 25px;
       
    }
    
   }
   #smallCards{
    background-color: rgb(168, 191, 235);
    width: 1200px;
    height: 200px;
    border-radius: 10px;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 5px;

    div{
        margin-top: 10px;
        margin-left: 10px;
        width: 380px;
        height: 76px;
        border-radius: 10px;
        box-shadow: 5px 5px 5px rgb(66, 101, 165);
        }
        img{
            width:70px;
            height: 70px;
        }

   }
   #otherDaysCards{
        background-color: rgb(168, 191, 235);
    width: 1200px;
    height: 80px;
    border-radius: 10px;
    display: inline-flex;
    flex-wrap: wrap;
    div{
        margin-left: 15px;
        width: 380px;
        height: 76px;
        border-radius: 10px;
        box-shadow: 5px 5px 5px rgb(66, 101, 165);
        }
   }

}
#rightS{
    display: flex;
    gap: 20px;
    flex-direction: column;
  
    #suggestionBox{
        background-color: rgb(168, 191, 235);
        width: 685px;
        height: 300px;
        border-radius: 10px;
        font-size: 20px;
        #det{
            width: 450px;
            margin-left: 30px;
            margin-top: 20px;
        }
        img{
            width: 10rem;
            height: 10rem;
        }
    }
    #otherCitiesBox{
        background-color: rgb(168, 191, 235);
        width: 685px;
        height: 380px;
        border-radius: 10px;

        display: flex;
        flex-direction: column;
        gap: 5px;
        div{
            background-color: rgb(168, 191, 235);
            width: 90%;
            height: 25%;
            margin-top: 18px;
            margin-left: 18px;
            border-radius: 10px;
            box-shadow: 5px 5px 5px rgb(66, 101, 165);

            display: -moz-grid-group;
            gap: 20px;
            img{
            width: 5rem;
            height: 5rem;
            }
        }
    }




}